
@{
    ViewBag.Title = "Tipos de Obra";
}

<h2>
    CATALOGO
    <i>@ViewBag.Title</i>
</h2>


<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Mantenimiento de catálogos", "Index", "TipoAtributo")</li>
    <li class="active">@ViewBag.Title</li>
</ol>


<!-- Campo que se reemplaza-->
<div id="renderListaTipoObra">
    @{ Html.RenderAction("Lista", "TipoObra"); }
</div>



<script src="~/Scripts/add.toolTip.js"></script>

