@{
    ViewBag.Title = "Home Page";
}

<div>
    <span class="fa fa-edit"></span> prueba
</div>

kkkkkk
<li class="media" id="li_id_xxxx_xxxx">

    <div class="media-body">
        <input type="hidden" id="id_xxxx_xxxx" name="id_xxxx_xxxx" value="xxxx" />

        <div class="form-group">
            <label class="control-label" for="id_xxxx_xxxx_prefijo">Prefijo</label>

            <div class="col-md-2 col-sm-2 col-xs-3">
                <input type="text" id="id_xxxx_xxxx_prefijo" name="id_xxxx_xxxx_prefijo" value="Principal" class="form-control input-sm" />
             </div>
            
            <label class="control-label" for="id_xxxx_xxxx_prefijo">texto_div_xxxx_xxxx</label>
        </div>
    </div>

    <span id="quitar_id_xxxx_xxxx" class="btn btn-xs btn-danger media-right" data-toggle="tooltip" title="Quitar valor"><span class="fa fa-times"></span></span>
</li>






